.Button,
.wp-block-button__link,
.wpforms-submit {
  height: 34px;
  padding: 0 var(--spacing--xs);
  font-family: var(--typeface-mono);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  color: currentColor;
  border: solid 2px currentColor;
  transition: all var(--global-transition);
  text-decoration: none !important;
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
  outline: 0;

  &:link, &button {
    &:hover {
      text-decoration: none;
      color: var(--color-white);
      border-color: var(--color-black);
      background-color: var(--color-black);
    }
  }

  &:focus {
    outline: 0;
  }
}


.ArrowButton{
  width: 52px;
  height: 52px;
  border: solid 1px currentColor;
  border-radius: 9999em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all var(--global-transition);
  svg{
    width: 26px;
    height: auto;
    stroke: currentColor;
    transition: all var(--global-transition);
  }
}


.ArrowButton--prev{
  svg{
    transform-origin: center center;
    transform: rotate(-180deg);
  }
}


/* Expand Button */
.ExpandButton {
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  gap: var(--spacing--xs);
  font-size: var(--font-size--base);
  font-weight: 700;
  &:hover{
    color: var(--color-pink);
  }
}

.ExpandButton svg{
  width: 27px;
  height: auto;
  transition: all var(--global-transition);
}

.ExpandButton[aria-expanded] svg{
  transform: rotate(45deg);
}
