/* @font-face {
  font-family: "PPRightGroteskTall";
  src: url("../fonts/PPRightGrotesk-TallBold.woff2") format("woff2"),
    url("../fonts/PPRightGrotesk-TallBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Bogue";
  src: url("../fonts/bogue-medium.woff2") format("woff2"),
    url("../fonts/bogue-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
} */
