.lottieFile {
  display: block;
}


/* body.frontend [data-scroll] {
  & .AppearZoomIn {
    opacity: 0;
    transform: scale(0);
    transition: all 0.35s cubic-bezier(0.5, 1.51, 0.55, 0.89);
    transform-origin: 50% 50%;
  }

  & .AppearFadeIn {
    opacity: 0;
    transition: opacity 0.35s cubic-bezier(0.5, 1.51, 0.55, 0.89);
  }

  & .AppearInUp {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
    transition: all 0.35s cubic-bezier(0.5, 1.51, 0.55, 0.89);
  }

  &.Loaded .AppearZoomIn,
  &.Loaded .AppearFadeIn {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0s;
  }

  &.Loaded .AppearInUp {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  &.Loaded .Delay:nth-child(1) {
    transition-delay: 0s;
  }
  &.Loaded .Delay:nth-child(2) {
    transition-delay: 0.2s;
  }
  &.Loaded .Delay:nth-child(3) {
    transition-delay: 0.4s;
  }
  &.Loaded .Delay:nth-child(4) {
    transition-delay: 0.6s;
  }
  &.Loaded .Delay:nth-child(5) {
    transition-delay: 0.8s;
  }
  &.Loaded .Delay:nth-child(6) {
    transition-delay: 1s;
  }
  &.Loaded .Delay:nth-child(7) {
    transition-delay: 1.2s;
  }
  &.Loaded .Delay:nth-child(8) {
    transition-delay: 1.4s;
  }
  &.Loaded .Delay:nth-child(9) {
    transition-delay: 1.6s;
  }
  &.Loaded .Delay:nth-child(10) {
    transition-delay: 1.8s;
  }
  &.Loaded .Delay:nth-child(11) {
    transition-delay: 0s;
  }
  &.Loaded .Delay:nth-child(12) {
    transition-delay: 0.2s;
  }
  &.Loaded .Delay:nth-child(13) {
    transition-delay: 0.4s;
  }
  &.Loaded .Delay:nth-child(14) {
    transition-delay: 0.6s;
  }
  &.Loaded .Delay:nth-child(15) {
    transition-delay: 0.8s;
  }
  &.Loaded .Delay:nth-child(16) {
    transition-delay: 1s;
  }
  &.Loaded .Delay:nth-child(17) {
    transition-delay: 1.2s;
  }
  &.Loaded .Delay:nth-child(18) {
    transition-delay: 1.4s;
  }
  &.Loaded .Delay:nth-child(19) {
    transition-delay: 1.6s;
  }
  &.Loaded .Delay:nth-child(20) {
    transition-delay: 1.8s;
  }
  &.Loaded .Delay:nth-child(21) {
    transition-delay: 0s;
  }
  &.Loaded .Delay:nth-child(22) {
    transition-delay: 0.2s;
  }
  &.Loaded .Delay:nth-child(23) {
    transition-delay: 0.4s;
  }
  &.Loaded .Delay:nth-child(24) {
    transition-delay: 0.6s;
  }
  &.Loaded .Delay:nth-child(25) {
    transition-delay: 0.8s;
  }
  &.Loaded .Delay:nth-child(26) {
    transition-delay: 1s;
  }
  &.Loaded .Delay:nth-child(27) {
    transition-delay: 1.2s;
  }
  &.Loaded .Delay:nth-child(28) {
    transition-delay: 1.4s;
  }
  &.Loaded .Delay:nth-child(29) {
    transition-delay: 1.6s;
  }
  &.Loaded .Delay:nth-child(30) {
    transition-delay: 1.8s;
  }
} */
