.Header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  a{
    color: var(--color-black);
    &:hover{
      color: var(--color-pink);
    }
  }
}

/* White Header */
.Header.Header--is-white{
  a{
    color: var(--color-white);
    &:hover{
      color: var(--color-pink);
    }
  }
  .MenuToggle{
    b{
      background-color: var(--color-white);
    }
    &:hover b {
      background-color: var(--color-pink);
    }
  }

  .Header__Logo{
    color: var(--color-white);
    & svg path {
      fill: var(--color-white);
    }
  }
}

.Header__Container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--spacing--s);
  padding-bottom: var(--spacing--s);
}

.Header__Logo,
.Header__Lottie {
  width: 253px;
  height: auto;
  display: block;
  left: -7px;
  position: relative;
  & svg {
    transition: fill var(--global-transition);
    & path {
      transition: fill var(--global-transition);
    }
  }
}

.MenuToggle{
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 0;
  z-index: 200;
  position: relative;
  & b{
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 10px;
    left: 0;
    background-color: var(--color-black);
    transition: all var(--global-transition);
    &:nth-child(2){
      top: auto;
      bottom: 10px;
    }
  }
  &:hover{
    background-color: transparent;
    & b {
      background-color: var(--color-pink);
    }
  }

  &[data-state="open"] {
    & b {
      top: 50%;
      bottom: auto;
      transform: rotate(-45deg);
      background-color: var(--color-white);
      &:nth-child(2){
        top: 50%;
        bottom: auto;
        transform: rotate(45deg);
      }
    }
    &:hover{
      & b {
        background-color: var(--color-black);
      }
    }
  }

}

/* Nav Open */
body.nav-open .Header__Logo{
  color: var(--color-white);
  & svg path {
    fill: var(--color-white);
    stroke: var(--color-white);
  }
  &:hover{
    color: var(--color-black);
    & svg path {
      fill: var(--color-white);
      stroke: var(--color-white);
    }
  }
}