---
eleventyComputed: {
  "title": "Home | {{ site.name }}"
}
description: '404 Error'
layout: 'layouts/full-width.html'
---
<div class='Container'>
  <div class='Page-Title Page-Title--error'>
    <h1>404</h1>
    <p>Sorry, this page could not be found.</p>
    <a href='/' class='Button'>Back to home</a>
  </div>
</div>
