---
description: ''
layout: 'layouts/full-width.html'
body_class: 'StyleGuide'
eleventyComputed: {
  "title": "StyleGuide | {{ site.name }}"
}
---
<div class='Container'>
  <div class='Font'>
    <h1>Fonts</h1>
    <h2>Headlines</h2>
    <ul class='Font__TypefaceList'>
      <li class='Font__Typeface--pp-right-grotesk'>PP Right Grotesk Tall Bold</li>
      <li class='Font__Typeface--bogue'>Bogue Medium</li>
    </ul>
    <h2>Body Copy</h2>
    <ul class='Font__TypefaceList'>
      <li class='Font__Typeface--dm-sans-reg'>DM Sans Regular</li>
      <li class='Font__Typeface--dm-sans-bold'>DM Sans Bold</li>
    </ul>
    <h2>Buttons</h2>
    <ul class='Font__TypefaceList'>
      <li class='Font__Typeface--dm-sans-mono'>DM Mono</li>
    </ul>
  </div>
  <div class='Colour'>
    <h1>Colours</h1>
    <ul class='Colour__List'>
      <li class='Colour__Item Colour__Item--black'><span>black</span></li>
      <li class='Colour__Item Colour__Item--white'><span>white</span></li>
      <li class='Colour__Item Colour__Item--beige'><span>beige</span></li>
      <li class='Colour__Item Colour__Item--pink'><span>pink</span></li>
      <li class='Colour__Item Colour__Item--purple'><span>purple</span></li>
      <li class='Colour__Item Colour__Item--dark-purple'><span>dark purple</span></li>
      <li class='Colour__Item Colour__Item--yellow'><span>yellow</span></li>
      <li class='Colour__Item Colour__Item--light-yellow'><span>light yellow</span></li>
      <li class='Colour__Item Colour__Item--green'><span>green</span></li>
      <li class='Colour__Item Colour__Item--light-green'><span>light green</span></li>
      <li class='Colour__Item Colour__Item--red'><span>red</span></li>
    </ul>
  </div>

  <div class='Image'>
    <h1>Images</h1>
    <ul class='Image__List'>
      <li class='Image__Item Image__Item--landscape'>
        <img src='https://unsplash.it/1024/768' alt='Placeholder'><span>landscape</span>
      </li>
      <li class='Image__Item Image__Item--half Image__Item--double'>
        <img src='https://unsplash.it/1024/768' alt='Placeholder'><span>half</span>
        <img src='https://unsplash.it/1024/768' alt='Placeholder'><span>half</span>
      </li>

      <li class='Image__Item Image__Item--portrait Image__Item--double'>
        <img src='https://unsplash.it/1024/768' alt='Placeholder'><span>portrait</span>
        <img src='https://unsplash.it/1024/768' alt='Placeholder'><span>portrait</span>
      </li>
      <li class='Image__Item Image__Item--square Image__Item--double'>
        <img src='https://unsplash.it/1024/768' alt='Placeholder'><span>square</span>
        <img src='https://unsplash.it/1024/768' alt='Placeholder'><span>square</span>
      </li>
    </ul>
  </div>
  <div class='ugc'>
    <h1>Heding One</h1>
    <h2>Heding Two</h2>
    <h3>Heding Three</h3>
    <h4>Heding Four</h4>
    <h5>Heding Five</h5>
    <h6>Heding Six</h6>
    <hr>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam libero id accusantium sed tenetur, delectus
      perspiciatis sit, iusto reiciendis quam magnam quidem aspernatur harum est impedit, veritatis mollitia. Facere,
      repellendus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam libero id accusantium sed tenetur, delectus
      perspiciatis sit, iusto reiciendis quam magnam quidem aspernatur harum est impedit, veritatis mollitia. Facere,
      repellendus.
    </p>
    <h2>Heding Two</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam libero id accusantium sed tenetur, delectus
      perspiciatis sit, iusto reiciendis quam magnam quidem aspernatur harum est impedit, veritatis mollitia. Facere,
      repellendus.
    </p>
    <h3>Heding Three</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam libero id accusantium sed tenetur, delectus
      perspiciatis sit, iusto reiciendis quam magnam quidem aspernatur harum est impedit, veritatis mollitia. Facere,
      repellendus.
    </p>
    <h4>Heding Four</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam libero id accusantium sed tenetur, delectus
      perspiciatis sit, iusto reiciendis quam magnam quidem aspernatur harum est impedit, veritatis mollitia. Facere,
      repellendus.
    </p>
    <h5>Heding Five</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam libero id accusantium sed tenetur, delectus
      perspiciatis sit, iusto reiciendis quam magnam quidem aspernatur harum est impedit, veritatis mollitia. Facere,
      repellendus.
    </p>
    <h6>Heding Six</h6>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam libero id accusantium sed tenetur, delectus
      perspiciatis sit, iusto reiciendis quam magnam quidem aspernatur harum est impedit, veritatis mollitia. Facere,
      repellendus.
    </p>
    <hr>
    <h2>Heding Two</h2>
    <ul>
      <li>First item</li>
      <li>Second item</li>
      <li>Third item</li>
      <li>Fourth item</li>
    </ul>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam libero id accusantium sed tenetur, delectus
      perspiciatis sit, iusto reiciendis quam magnam quidem aspernatur harum est impedit, veritatis mollitia. Facere,
      repellendus.
    </p>
    <ol>
      <li>First item</li>
      <li>Second item</li>
      <li>Third item</li>
      <li>Fourth item</li>
    </ol>
    <ul>
      <li>First item</li>
      <li>Second item</li>
      <li>Third item</li>
      <li>Fourth item</li>
    </ul>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam libero id accusantium sed tenetur, delectus
      perspiciatis sit, iusto reiciendis quam magnam quidem aspernatur harum est impedit, veritatis mollitia. Facere,
      repellendus.
    </p>
    <hr>
    <p>I just love <strong>bold text</strong>.</p>
    <p>Italicized text is the <em>cat's meow</em>.</p>
    <p>
      This text is <strong><em>Bold and Italic</em></strong
      >.
    </p>
    <hr>
    <blockquote>
      <p>Dorothy followed her through many of the beautiful rooms in her castle.</p>
      <p>The Witch bade her clean the pots and kettles and sweep the floor and keep the fire fed with wood.</p>
    </blockquote>
    <hr>
    <a href='#' class='Button'>Button</a>
  </div>
</div>
